<div class="container-xxl bg-white p-0">
    <div class="container-xxl position-relative p-0">


        <div class="container-xxl py-5">
            <br><br>
            <div class="mainDiv">
                <div class="cardStyle">
                    <form [formGroup]="resetpassword" #f="ngForm" (ngSubmit)="updatepassword (f); f.reset()"
                        name="signupForm" id="signupForm">

                        <img src="" id="signupLogo" />

                        <h2 class="formTitle">
                            Forgot Password?
                        </h2>
                        <p class="formTitle">You can reset your password here.</p>

                        <div class="inputDiv">
                            <label class="inputLabel" for="password">New Password</label>
                            <input id="password" type="password" formControlName="password" required
                                placeholder="Password? " required>
                        </div>



                        <div class="buttonWrapper">
                            <button type="submit" class="submitButton pure-button pure-button-primary">Reset Password

                            </button>
                        </div>

                    </form>
                </div>
            </div>



        </div>
    </div>