<div class="container-xxl position-relative bg-white d-flex p-0">
    <app-sidebar-admin></app-sidebar-admin>

    <div class="content">
        <app-navbar-admin></app-navbar-admin>


        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Requests | Accepted ( {{dataArray.requests.length}} ) </h6>
                    <form class="d-none d-md-flex ms-4">
                        <input class="form-control border-0" type="search" placeholder="Search ..." name="email"
                            [(ngModel)]="searchedKeyword">
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">

                                <th scope="col">Email </th>
                                <th scope="col">Start date </th>
                                <th scope="col">End date </th>
                                
                                <th scope="col">Reason </th>
                                <th scope="col">Balance </th>
                                <th scope="col">Sending date </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of dataArray.requests | paginate: { itemsPerPage: 10, currentPage: p } | filter:searchedKeyword ; index as i">

                                <td> {{item.user.email}} </td>
                                <td>{{item.start_date}} </td>
                                <td>{{item.end_date}} </td>
                                <td>
                                    <p class="btn btn-outline-success rounded-pill m-1" *ngIf="item.user.solde > 0 ">
                                        {{item.user.solde}} Days</p>
                                    <p class="btn btn-outline-danger rounded-pill m-1" *ngIf="item.user.solde < 0 ">
                                        {{item.user.solde}} Days</p>

                                </td>
                                <td>{{item.reason }} </td>

                                <td>{{item.created_at | date:'medium' }} </td>



                            </tr>
                            <tr *ngIf="dataArray.requests.length==0">
                                <td colspan="8" style="text-align:center;">no data found</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Recent Sales End -->
        <br>
        <div style="margin-left: 60%;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>

</div>