


<div class="main">
    <p class="sign" align="center">Sign in</p>
    <form [formGroup]="loginForm" class="form1">

        <input class="un " type="text" align="center" name="email" formControlName="email" [(ngModel)]="user.email"
            placeholder="name@example.com">

        <input class="pass" type="password" align="center" name="password" formControlName="password"
            [(ngModel)]="user.password" placeholder="Password">

            <div class="alert alert-danger" *ngIf="messageError">
                {{messageError}}
            </div>
            
        <a class="submit" align="center" (click)="login()" >Sign in</a>

        <p class="forgot" align="center"><a routerLink="/rese-password">Forgot Password?</a></p>

        <p class="forgot" align="center"><a routerLink="/register">Sign up </a></p>

    </form>
</div>