<div class="container-xxl position-relative bg-white d-flex p-0">
    <app-sidebar></app-sidebar>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div class="content">

        <br><br><br>



        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="osahan-account-page-left shadow-sm bg-white h-100">
                        <div class="border-bottom p-4">
                            <div class="osahan-user text-center">

                                <div class="osahan-user-media">

                                    <form [formGroup]="imageupdate" #f="ngForm" (ngSubmit)="updateimage(f)">
                                        <div class="user-profile">

                                            <img height="180"  [src]="employeedata.avv" alt=""
                                                class="card-img-top" />
                                            <br />
                                            <input type="file" (change)="fileChange($event)" [defaultValue]=""
                                                name="avatar" class="form-control" formControlName="avatar" rows="3"
                                                width="110" required />
                                        </div><br>
                                        <button type="submit"> update </button>
                                    </form>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9">
                    <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade  active show" id="addresses" role="tabpanel"
                                aria-labelledby="addresses-tab">
                                <h5 class="font-weight-bold mt-0 mb-4"> Update Profile </h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="bg-white card addresses-item mb-4 border border-primary shadow">
                                            <div class="gold-members p-4">
                                                <div class="media">
                                                    <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i></div>
                                                    <div class="media-body">

                                                        <h5 *ngIf=" employeedata.user.email  !== 'null' "> {{
                                                            employeedata.user.email }} </h5>

                                                        <p class="text-black"
                                                            *ngIf=" employeedata.user.first_name && (employeedata.user.first_name  !== 'null' || employeedata.user.first_name  !== 'undefined' ) ">
                                                            {{ employeedata.user.first_name }}
                                                        </p>
                                                        <p class="text-black"
                                                            *ngIf=" employeedata.user.last_name  !== 'null' || employeedata.user.last_name  !== 'undefined'  ">
                                                            {{ employeedata.user.last_name }}
                                                        </p>
                                                        <p class="text-black"
                                                            *ngIf=" employeedata.user.address  !== 'null' || employeedata.user.address  !== 'undefined' ">
                                                            {{ employeedata.user.address }}
                                                        </p>

                                                        <p class="text-black"
                                                            *ngIf=" employeedata.user.phone  !== 'null' || employeedata.user.phone  !== 'undefined' ">
                                                            {{ employeedata.user.phone }}
                                                        </p>

                                                        <p class="mb-0 text-black font-weight-bold"><a
                                                                class="text-danger mr-3" data-toggle="modal"
                                                                data-target="#exampleModal"><i
                                                                    class="icofont-ui-edit"></i> UPDATE INFORMATION </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
    </div>
</div>



<!-- Modal Solde -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Update </h5>

            </div>
            <div class="modal-body">
                <form [formGroup]="upadate" #f="ngForm" (ngSubmit)="updateinfouser(f)">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>

                        </div><br>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">First Name</label>
                                <input type="text" class="form-control" formControlName="first_name" name="first_name"
                                    placeholder="firstname" [(ngModel)]="employeedata.user.first_name" required ngModel>
                            </div><br>
                            <div class="form-group">
                                <label for="fullName">Last Name</label>
                                <input type="text" class="form-control" formControlName="last_name" name="last_name"
                                    placeholder="lastname" [(ngModel)]="employeedata.user.last_name" required ngModel>
                            </div><br>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="number" min="0" class="form-control" class="form-control" name="phone"
                                    formControlName="phone" placeholder="phone" oninput="validity.valid||(value='');"
                                    [(ngModel)]="employeedata.user.phone" required ngModel placeholder="+216">
                            </div>
                        </div>


                    </div>
                    <div class="row gutters">

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Street">Address</label>
                                <input type="text" class="form-control" [defaultValue]="" formControlName="address"
                                    name="address" placeholder="address" [(ngModel)]="employeedata.user.address"
                                    required ngModel>
                            </div><br>

                            <div class="form-group">
                                <label for="Street">Email </label>
                                <input type="text" class="form-control" [defaultValue]="this.employeedata.user.email"
                                    formControlName="email" name="email" placeholder="email"
                                    [(ngModel)]="employeedata.user.email" required ngModel>
                            </div><br>
                        </div>



                        <br>
                    </div>
                    <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                   <div class="form-group">
                       <label for="sTate">password_confirmation</label>
                       <input type="password" class="form-control" [defaultValue]="" formControlName="password_confirmation"  placeholder="password_confirmation" [(ngModel)]="freelancerdata.password_confirmation" required  ngModel >
                   </div>
               </div>-->


                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary px-4"
                                    style="background-color: rgb(38, 8,158);">Save Changes </button>
                                &nbsp; &nbsp;
                                <button type="button" routerLink="/dashbord-client" id="submit" name="submit"
                                    class="btn btn-secondary">Cancel</button>

                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>