<div class="container-xxl position-relative bg-white d-flex p-0">
    <app-sidebar-admin></app-sidebar-admin>

    <div class="content">
        <app-navbar-admin></app-navbar-admin>


        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Requests ( {{dataArray.length}} ) </h6>
                    <form class="d-none d-md-flex ms-4">
                        <input class="form-control border-0" type="search" placeholder="Search By Email .." name="email"
                            [(ngModel)]="searchedKeyword">
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">

                                <th scope="col">Email </th>
                                <th scope="col">Start date </th>
                                <th scope="col">End date </th>
                                <th scope="col">Status</th>
                                <th scope="col">Motif</th>
                                <th scope="col">Sending date </th>
                                <th colspan="3">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of dataArray | paginate: { itemsPerPage: 10, currentPage: p } | filter:searchedKeyword ; index as i">

                                <td> {{item.user.email}} </td>
                                <td>{{item.start_date}} </td>
                                <td>{{item.end_date}} </td>

                                <td *ngIf="item.status == 0"><button type="button"
                                        class="btn btn-primary rounded-pill m-2">In_Progress</button></td>
                                <td *ngIf="item.status == 1"><button type="button"
                                        class="btn btn-success rounded-pill m-2">Accepted</button></td>
                                <td *ngIf="item.status == 2"><button type="button"
                                        class="btn btn-danger rounded-pill m-2">Refused</button></td>

                                <td>{{item.motif}} </td>
                                <td>{{item.created_at | date:'medium' }} </td>

                                <td> <button data-toggle="modal" data-target="#exampleModal"  type="button"
                                        (click)="getdata(item.status , item.start_date , item.end_date , item.motif , item.user.id ,item.id)"
                                        class="btn btn-outline-warning m-2">Update</button>
                                </td>
                                <td>
                                    <button (click)="delete(item.id , i)" type="button"
                                        class="btn btn-outline-danger m-2">Delete</button>
                                </td>
                                <td>
                                    <button data-toggle="modal" data-target="#exampleModal1" type="button"
                                        class="btn btn-outline-info m-2">Generate_contrat </button>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Recent Sales End -->

        <div style="margin-left: 75%;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>

</div>

<!-- Modal Solde -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Solde </h5>

            </div>
            <div class="modal-body">
                his leave balance is : !! days/months
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update</h5>

            </div>
            <div class="modal-body">
                <!-- form update start here -->
                <form [formGroup]="updatedemandes" #f="ngForm" (ngSubmit)="updatedemande(f)">
                    <!-- firstName validation start here -->
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Status </label>
                        <input type="text" class="form-control" placeholder="status" [defaultValue]="dataDemande.status"
                            required formControlName="status" ngModel minlength="2" />

                        <select class="custom-select">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                    </div>


                    <div class="form-group">
                        <label for="exampleFormControlInput1">Start date </label>
                        <input type="date" class="form-control" placeholder="start_date"
                            [defaultValue]="dataDemande.start_date" required name="start_date"
                            formControlName="start_date" minlength="2" maxlength="20" ngModel />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">End date </label>
                        <input type="date" class="form-control" placeholder="end_date "
                            [defaultValue]="dataDemande.end_date" required name="end_date" formControlName="end_date"
                            minlength="2" maxlength="20" ngModel />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1"> Motif </label>
                        <input type="text" class="form-control" placeholder="motif" [defaultValue]="dataDemande.motif"
                            required name="motif" formControlName="motif" minlength="2" maxlength="20" ngModel />
                    </div>


                    <br>




                    <!-- lastName validation end here -->

                    <div class="alert alert-success" *ngIf="messageSuccess">
                        {{messageSuccess}}
                    </div>

                    <button class="btn btn-primary">Update</button>
                </form>

                <!-- form update end here -->
            </div>
        </div>
    </div>
</div>