<div class="container-xxl position-relative bg-white d-flex p-0">
    <app-sidebar></app-sidebar>

    <div class="content">


        <div class="container"><br>

            <div style="text-align: right;">
                <button class="btn btn-success" (click)="download()"> Download <i class="fas fa-download"></i> </button>
            </div>
            <br>
            <div class="main-body">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">

                                <h4 style="color: blue ;"> Employee Details : </h4>

                                <div class="mt-3">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h6> Full name : </h6>
                                        </div>
                                        <p class="col-sm-4">{{employeedata.user.first_name}}
                                            {{employeedata.user.last_name}}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6> Email : </h6>
                                        </div>
                                        <p class="col-sm-7"
                                            *ngIf="employeedata.user.email && employeedata.user.email !== 'null' ">
                                            {{employeedata.user.email}} </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h6> Phone : </h6>
                                        </div>
                                        <p class="col-sm-7"
                                            *ngIf="employeedata.user.phone && employeedata.user.phone !== 'null' ">
                                            {{employeedata.user.phone}} </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h6> Address : </h6>
                                        </div>
                                        <p class="col-sm-7"
                                            *ngIf="employeedata.user.address && employeedata.user.address !== 'null' ">
                                            {{employeedata.user.address}} </p>
                                    </div>





                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="card" *ngFor="let item of dataArray">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <h4 style="color: blue ;"> Request Details : </h4> <br> <br>
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Request status </h6>
                                            </div>
                                            <p class="col-sm-5">
                                                {{item.status}}
                                            </p>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">start_date </h6>
                                            </div>
                                            <p class="col-sm-5">
                                                {{item.start_date}}
                                            </p>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">end_date </h6>
                                            </div>
                                            <p class="col-sm-5">
                                                {{item.end_date}}
                                            </p>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">reason </h6>
                                            </div>
                                            <p class="col-sm-5">
                                                {{item.reason}}
                                            </p>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">motif_refused </h6>
                                            </div>
                                            <p class="col-sm-5">
                                                {{item.motif_refused}}
                                            </p>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Sended at </h6>
                                            </div>
                                            <p class="col-sm-5">
                                                {{item.created_at | date: 'medium'}}
                                            </p>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>



        <br>
    </div>
</div>